:root {
    --yellow: #FEFDC4;
    --pink: #FED3E7;
    --gray: rgba(0, 0, 0, 0.5);
    --horizontal-space: 25px;
    --main-border : 1px solid rgba(0, 0, 0, 0.2);
    --pink-shadow: 0 10px 10px rgba(255, 200, 255, 0.5);
}
